body{
  background-image: url('/images/background.png'); // We can use css Linear gradient
  background-repeat: repeat-x;
}

.colorGray{
  color: #d4d4d4;
}

.textPrimary{
  color: $primaryColor;
}

#productSection{
  position:relative;
}

#loading{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  align-items: center;
  justify-content: center;
  background:rgba(255,255,255,.5)
}

.filterSvg{
  width:25px;
  height:25px;
  color:#ddd;
}
